@page "/log"

@implements IDisposable

<h3>Log</h3>

<div class="small">
    @{ bool odd = false; }
    @foreach (var logItem in SyncLog.OrderByDescending(i => i.Date))
    {
        odd = !odd;
        var bgClass = odd ? "bg-dark text-white" : "bg-secondary text-white";
    <div class="row">
        <div class="col-md-2 @bgClass">
            @($"{(new Helpers.DateHelper().GetCentralDate(logItem.Date)):G}")
        </div>
        <div class="col-md-10">
            <div class="row bg-primary pl-1">
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.Termostat1), bgClass)">T1</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.Termostat2), bgClass)">T2</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.TermostatR1), bgClass)">TR1</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.TermostatR2), bgClass)">TR2</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.TermostatR3), bgClass)">TR3</div>
                <div class="col-md-7 @GetStatusClass(Data.TransferData.FnStateEnum.Off, bgClass)"></div>
            </div>
            <div class="row bg-primary pl-1">
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.FireplacePump), bgClass)">FireP</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.FireplaceAkum), bgClass)">FireAk</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.DiffTerm), bgClass)">DiffT</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.PipeTerm), bgClass)">PipeT</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.SMSWater), bgClass)">WSMS</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.AlarmKey), bgClass)">AKEY</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.AlarmRound1), bgClass)">Alarm1</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.AlarmRound2), bgClass)">Alarm2</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.Valv1Status), bgClass)">Valv1</div>
                <div class="col-md-1 @GetStatusClass(logItem.Inputs.GetState(Data.TransferData.InputStatusEnum.Valv2Status), bgClass)">Valv2</div>
                <div class="col-md-2 @GetStatusClass(Data.TransferData.FnStateEnum.Off, bgClass)"></div>
            </div>
            <div class="row bg-info pl-1">
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.ElHeating), bgClass)">ElHeat</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.ElHeatingPump), bgClass)">ElHeatP</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.PumpAku), bgClass)">AkuP</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.WifiReset), bgClass)">WifiR</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Zone), bgClass)">Zone</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Water), bgClass)">Water</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Cams), bgClass)">Cams</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Alarm), bgClass)">Alarm</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.ResetGSM), bgClass)">GSMR</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Valv1), bgClass)">Valv1</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Valv2), bgClass)">Valv2</div>
                <div class="col-md-1 @GetStatusClass(logItem.Outputs.GetState(Data.TransferData.OutputStatusEnum.Valv3), bgClass)">Valv3</div>
            </div>
        </div>
    </div>
    }
</div>

@code {
    [Inject]
    Data.ChangeNotifier ChangeNotifier { get; set; }

    [Inject]
    Data.SyncLog SyncLog { get; set; }

    protected override void OnInitialized()
    {
        ChangeNotifier.Notify += DataChanged;
    }

    public void Dispose()
    {
        ChangeNotifier.Notify -= DataChanged;
    }

    private async void DataChanged(object sender, object e)
    {
        if (!(e is Data.LogItem))
            return;

        await InvokeAsync(StateHasChanged);
    }

    private string GetStatusClass(Data.TransferData.FnStateEnum fnState, string bgClass)
    {
        switch (fnState)
        {
            case Data.TransferData.FnStateEnum.Off:
                return bgClass;
            case Data.TransferData.FnStateEnum.Auto:
                return "bg-danger text-white";
        }
        return null;
    }
}
